<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705607109690-5guv3la60h92ba4f287s1qhben5s5365.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705607109690-5guv3la60h92ba4f287s1qhben5s5365</string>
	<key>API_KEY</key>
	<string>AIzaSyBEMNb6tiNJmEbocpbj7_sekR9PKUlXeb4</string>
	<key>GCM_SENDER_ID</key>
	<string>705607109690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brick-squad.clever-goblin</string>
	<key>PROJECT_ID</key>
	<string>clever-goblin</string>
	<key>STORAGE_BUCKET</key>
	<string>clever-goblin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705607109690:ios:7c794c42eeb52e80e87903</string>
</dict>
</plist>